# Container forcast using raindom forest model

In this project, we aims the build a prediction model for container throughput in Thailand port. 

We first load all the data collected throughout year 2001-2021. This included inbound and outbound container throughput. As for the features, we use features as follows

- Consumer price index
- Export value
- Import value
- GDP constant
- Inflation rate
- Interest rate
- Manufacture product index
- Population
- Unemployment rate
- USD to THB conversion rate

In [73]:
import numpy as np
import pandas as pd

# Loading label for model prediction

In [74]:
months = ['January', 'February', 'March', 'April', 'May', 
'June', 'July', 'August', 'September', 'October', 'November', 'December']

label_df = pd.DataFrame(data={'year': np.array([[year]*12 for year in range(2001,2022)]).flatten(),
                        'month': months*21 })


throughput_df = pd.read_csv("container_throughput_label.csv")

label_df = pd.merge(left=label_df, right=throughput_df, how='left', on=['year','month'])

month_to_int = {'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 
'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}
label_df['month'] = label_df['month'].map(lambda x: month_to_int[x])

label_df.head()

   year  month  inbound  outbound
0  2001      1      NaN       NaN
1  2001      2      NaN       NaN
2  2001      3      NaN       NaN
3  2001      4      NaN       NaN
4  2001      5      NaN       NaN

# Load features for model prediction

In [75]:
exportval_df = pd.read_csv("export_value.csv")
gdp_df = pd.read_csv("GDP_constant.csv")
importval_df = pd.read_csv("import_value.csv")
inflate_df = pd.read_csv("inflation_%.csv")
interest_df = pd.read_csv("interest_rate.csv")
manu_df = pd.read_csv("manufac_prod_index.csv")
pop_df = pd.read_csv("population.csv")
unemp_df = pd.read_csv("unemployment.csv")
ex_df = pd.read_csv("usd_thb.csv")
cons_df = pd.read_csv("consumer_price_index.csv")

In [76]:
exportval_df = exportval_df.drop('id', axis=1)

exportval_df = exportval_df[["year", "month", "export_value"]]
exportval_df['export_value'] = exportval_df['export_value'].map(lambda x: x.replace(',', ''))
exportval_df['export_value'] = pd.to_numeric(exportval_df['export_value'])

In [77]:
gdp_df = gdp_df.drop('id', axis=1)

gdp_df = gdp_df[["year", "month", "GDP_constant"]]
gdp_df['GDP_constant'] = gdp_df['GDP_constant'].map(lambda x: x.replace(',', ''))
gdp_df['GDP_constant'] = pd.to_numeric(gdp_df['GDP_constant'])

In [78]:
importval_df = importval_df.drop('id', axis=1)

importval_df = importval_df[["year", "month", "import_value"]]
importval_df['import_value'] = importval_df['import_value'].map(lambda x: x.replace(',', ''))
importval_df['import_value'] = pd.to_numeric(importval_df['import_value'])

In [79]:
inflate_df = inflate_df.drop('id', axis=1)

inflate_df = inflate_df[["year", "month", "inflation_percentage_change"]]
inflate_df['inflation_percentage_change'] = inflate_df['inflation_percentage_change'].map(lambda x: x.replace('%', ''))
inflate_df['inflation_percentage_change'] = pd.to_numeric(inflate_df['inflation_percentage_change'])

In [80]:
interest_df = interest_df.drop('id', axis=1)

interest_df = interest_df[["year", "month", "interest_rate"]]
interest_df['interest_rate'] = pd.to_numeric(interest_df['interest_rate'])

In [81]:
manu_df = manu_df.drop('id', axis=1)

manu_df = manu_df[["year", "month", "manufac_prod_index"]]
manu_df['manufac_prod_index'] = pd.to_numeric(manu_df['manufac_prod_index'])

In [82]:
pop_df = pop_df.drop('id', axis=1)

pop_df = pop_df[["year", "month", "population"]]
pop_df['population'] = pop_df['population'].map(lambda x: x.replace(',', ''))
pop_df['population'] = pd.to_numeric(pop_df['population'])

In [83]:
unemp_df = unemp_df.drop('id', axis=1)

unemp_df = unemp_df[["year", "month", "unemployment_rate"]]
unemp_df = unemp_df.replace(' n.a. ', np.nan)
unemp_df['unemployment_rate'] = pd.to_numeric(unemp_df['unemployment_rate'])

In [84]:
ex_df = ex_df.drop('id', axis=1)

ex_df = ex_df[["year", "month", "exchange_rate"]]
ex_df = ex_df.replace(' n.a. ', np.nan)
ex_df['exchange_rate'] = pd.to_numeric(ex_df['exchange_rate'])

In [85]:
cons_df = cons_df.drop('id', axis=1)

cons_df = cons_df[["year", "month", "consumer_price_index"]]
cons_df = cons_df.replace(' n.a. ', np.nan)
cons_df['consumer_price_index'] = pd.to_numeric(cons_df['consumer_price_index'])

# Merge all Dataframe into one

In [86]:
months = ['January', 'February', 'March', 'April', 'May', 
'June', 'July', 'August', 'September', 'October', 'November', 'December']

f_df = pd.DataFrame(data={'year': np.array([[year]*12 for year in range(2001,2022)]).flatten(),
                        'month': months*21 })

In [87]:
f_df = pd.merge(left=f_df, right=exportval_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=gdp_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=importval_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=inflate_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=interest_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=manu_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=pop_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=unemp_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=ex_df, how='left', on=['year','month'])
f_df = pd.merge(left=f_df, right=cons_df, how='left', on=['year','month'])


month_to_int = {'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 
'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}
f_df['month'] = f_df['month'].map(lambda x: month_to_int[x])
f_df = f_df.interpolate(axis=0)

In [88]:
f_df.head()

,year,month,export_value,GDP_constant,import_value,inflation_percentage_change,interest_rate,manufac_prod_index,population,unemployment_rate,exchange_rate,consumer_price_index
0,2001,1,279973.0,459359.0,255061.0,0.72,2.5,52.47,62308887.0,5.73,43.12,68.8
1,2001,2,279973.0,459359.0,255061.0,0.44,2.0,53.02,62308887.0,4.25,42.64,69.1
2,2001,3,279973.0,459359.0,255061.0,0.00,2.0,52.18,62308887.0,4.04,43.90,69.1
3,2001,4,283056.0,442241.0,255379.0,0.72,2.0,51.29,62308887.0,4.06,45.46,69.6
4,2001,5,283056.0,442241.0,255379.0,0.29,2.0,52.51,62308887.0,4.24,45.48,69.8

## Generate Training and Testing set

In [90]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression

feature_list = list(f_df.columns)

train_features, test_features, train_labels, test_labels = train_test_split(f_df[f_df['year'] > 2002], 
                                                            label_df[label_df['year'] > 2002], test_size=0.25, random_state=42)

In [111]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 69)
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=69)

In [110]:
label_df[label_df['year'] == 2004]

    year  month   inbound  outbound
36  2004      1  134669.0  124850.0
37  2004      2  138718.0  143429.0
38  2004      3  153901.0  154495.0
39  2004      4  138736.0  133248.0
40  2004      5  151455.0  156789.0
41  2004      6  149513.0  152047.0
42  2004      7  152344.0  154686.0
43  2004      8  164593.0  161001.0
44  2004      9  150331.0  157246.0
45  2004     10  155401.0  159150.0
46  2004     11  161944.0  160244.0
47  2004     12  156405.0  152366.0

In [113]:

result = rf.predict(test_features)

result = pd.DataFrame(result)

result

           0       1           2           3
0   2020.548  10.893  352359.978  347634.613
1   2008.683   6.513  212909.572  228470.385
2   2003.148   8.624  137805.039  140552.095
3   2018.597   7.755  326307.592  333009.211
4   2004.327   3.936  152086.384  150278.116
5   2018.645   7.839  332332.562  335383.591
6   2005.083   2.780  158272.862  149297.369
7   2019.094   3.297  344932.425  336566.896
8   2015.102   8.189  281486.433  296499.385
9   2012.614   6.120  244250.401  249971.462
10  2019.270   7.740  295868.267  312054.551
11  2004.176   8.345  151429.078  157101.979
12  2010.859   3.679  217324.527  227407.078
13  2017.572   7.739  325202.014  335616.852
14  2020.989   5.495  375064.173  366342.280
15  2014.365   6.055  278023.509  295147.886
16  2014.912   5.009  276782.535  290988.910
17  2004.973   7.706  153472.804  164267.662
18  2020.988   7.731  358894.327  365618.282
19  2018.260   5.966  331596.760  339068.901
20  2011.979   4.028  220297.619  232799.812
21  2016.057   7.054  297973.024  317290.174
22  2020.856   2.439  357340.533  342108.124
23  2018.580   2.513  322190.382  314827.088
24  2012.503   6.709  253408.590  264016.831
25  2004.300   8.138  153109.709  157901.280
26  2014.794   5.874  279370.900  296605.884
27  2011.143   6.307  238366.956  250575.028
28  2011.258   7.338  238777.819  247159.051
29  2009.587   3.885  192148.282  207042.842
30  2018.636   6.057  333811.510  336319.883
31  2008.262   3.772  210452.877  220112.010
32  2012.005   9.172  253927.125  259182.410
33  2006.327   7.094  178826.046  182191.915
34  2004.432   4.774  152966.994  151791.786
35  2012.687   6.703  243556.134  252266.858
36  2016.147   5.399  295348.841  312191.950
37  2012.039   8.827  254461.667  261350.632
38  2008.963   9.487  196373.977  207901.529
39  2015.116   4.084  271712.497  279561.826
40  2009.988   8.775  216344.275  226143.835
41  2017.516   2.906  300294.744  317969.514
42  2014.298   9.439  284446.171  286942.001
43  2008.012   4.033  184793.121  180804.756
44  2012.144   7.300  246029.609  265720.495
45  2011.788   4.903  225406.426  239139.799
46  2014.743   7.079  277231.027  292944.448
47  2007.545   7.654  202279.884  208971.390
48  2016.694   6.866  308036.561  323143.448
49  2008.337   8.689  200577.802  207589.721
50  2016.760   7.836  313427.873  326034.875
51  2012.150   4.153  234557.234  252711.942
52  2012.691   4.417  245038.817  253518.391
53  2008.706   7.888  201416.972  205353.953
54  2009.823   4.191  191052.581  207693.985
55  2010.583   7.803  225772.958  237113.524
56  2019.433   7.138  295945.993  311593.658

In [94]:
from sklearn.tree import export_graphviz
import pydot

In [101]:
tree = rf.estimators_[5]
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)

(graph, ) = pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png')

![](tree.png)